[Unit]
Description=Sync Yggdrasil Peers, AllowedPublicKeys and whitelist IPs via UFW
Documentation=https://github.com/perguth/yggdrasil-protected-group

[Service]
Type=simple
ExecStart=node /opt/yggdrasil-protected-group/index.js

[Install]
WantedBy=multi-user.target
